In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

## Question 3. Trip Segmentation Count



During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

- Up to 1 mile
- In between 1 (exclusive) and 3 miles (inclusive),
- In between 3 (exclusive) and 7 miles (inclusive),
- In between 7 (exclusive) and 10 miles (inclusive),
- Over 10 miles

In [4]:
query = """
    SELECT 
        trip_distance, 
        lpep_pickup_datetime
    FROM public.green_taxi_data
        """

# 使用 Pandas 讀取資料
df = pd.read_sql(query, engine)

In [5]:
from sqlalchemy import text
import pandas as pd

query_string = text("""
    SELECT 
        CASE
            WHEN trip_distance <= 1 THEN 'Up to 1 mile'
            WHEN trip_distance > 1 AND trip_distance <= 3 THEN '1~3 miles'
            WHEN trip_distance > 3 AND trip_distance <= 7 THEN '3~7 miles'
            WHEN trip_distance > 7 AND trip_distance <= 10 THEN '7~10 miles'
            ELSE '10+ miles'
        END AS segment,
        to_char(count(1), '999,999') AS num_trips
    FROM green_taxi_trips
    WHERE 
        lpep_pickup_datetime >= '2019-10-01' 
        AND lpep_pickup_datetime < '2019-11-01'
        AND lpep_dropoff_datetime >= '2019-10-01' 
        AND lpep_dropoff_datetime < '2019-11-01'
    GROUP BY segment
""")

# 執行查詢並轉換為 DataFrame
with engine.connect() as conn:
    result = conn.execute(query_string)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)

distance_range
Up to 1 mile              104838
Between 1 and 3 miles     199013
Between 3 and 7 miles     109645
Between 7 and 10 miles     27688
Over 10 miles              35202
Name: count, dtype: int64

## Question 4. Longest trip for each day
Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance.

In [6]:
query = """
    WITH daily_longest_trip AS (
        SELECT 
            DATE(lpep_pickup_datetime) AS pickup_date,
            MAX(trip_distance) AS max_trip_distance
        FROM 
            green_taxi_data
        GROUP BY 
            DATE(lpep_pickup_datetime)
    )
    SELECT 
        pickup_date,
        max_trip_distance
    FROM 
        daily_longest_trip
    ORDER BY 
        max_trip_distance DESC
    LIMIT 1;
"""
# 執行查詢並將結果讀取到 DataFrame
result = pd.read_sql(query, con=engine)

# 顯示結果
longest_trip = result.iloc[0]
print(f"The pick up day with the longest trip distance is {longest_trip['pickup_date']} with a distance of {longest_trip['max_trip_distance']:.2f} miles.")

The pick up day with the longest trip distance is 2019-10-31 with a distance of 515.89 miles.

### Question 5. Three biggest pickup zones
Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?

Consider only lpep_pickup_datetime when filtering by date.

In [7]:

# 編寫 SQL 查詢，將 green_taxi_data 和 zones 表格聯接
query = """
    SELECT 
        z."Zone" AS pickup_zone,  -- 使用雙引號來保證大小寫一致
        SUM(gtd.total_amount) AS total_amount_sum  -- 計算每個取車地點的總金額
    FROM 
        public.green_taxi_data gtd
    JOIN 
        public.zones z 
        ON gtd."PULocationID" = z."LocationID"  -- 確保使用正確的列名稱
    WHERE 
        DATE(gtd.lpep_pickup_datetime) = '2019-10-18'  -- 篩選出 2019-10-18 的取車資料
    GROUP BY 
        z."Zone"  -- 根據區域分組，注意大小寫
    HAVING 
        SUM(gtd.total_amount) > 13000  -- 只考慮總金額超過 13,000 的取車地點
    ORDER BY 
        total_amount_sum DESC  -- 按照總金額從高到低排序
    LIMIT 3;  -- 只取前 3 大


"""

# 執行查詢並將結果讀取到 DataFrame
df = pd.read_sql(query, con=engine)

# 顯示結果
print(df)

           pickup_zone  total_amount_sum
0    East Harlem North          18686.68
1    East Harlem South          16797.26
2  Morningside Heights          13029.79

### Question 6. Largest tip
For the passengers picked up in Ocrober 2019 in the zone name "East Harlem North" which was the drop off zone that had the largest tip?

Note: it's tip , not trip

We need the name of the zone, not the ID.

In [8]:
query = """
    SELECT 
        dropoff_zone."Zone" AS dropoff_zone,  -- 顯示 dropoff 的區域名稱
        MAX(gtd.tip_amount) AS largest_tip  -- 找出最大的小費
    FROM 
        public.green_taxi_data gtd
    JOIN 
        public.zones pickup_zone 
        ON gtd."PULocationID" = pickup_zone."LocationID"  -- 匹配 pickup 區域
    JOIN 
        public.zones dropoff_zone 
        ON gtd."DOLocationID" = dropoff_zone."LocationID"  -- 匹配 dropoff 區域
    WHERE 
        DATE(gtd.lpep_pickup_datetime) BETWEEN '2019-10-01' AND '2019-10-31'  -- 篩選出 2019-10 月份的資料
        AND pickup_zone."Zone" = 'East Harlem North'  -- 篩選出 pickup 區域為 "East Harlem North"
    GROUP BY 
        dropoff_zone."Zone"  -- 根據 dropoff 區域分組
    ORDER BY 
        largest_tip DESC  -- 按照最大小費排序
    LIMIT 1;  -- 只取最大的


    """
# 執行查詢並將結果讀取到 DataFrame
df = pd.read_sql(query, con=engine)

# 顯示結果
print(df)

  dropoff_zone  largest_tip
0  JFK Airport         87.3