In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [36]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [39]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [40]:
df = next(df_iter)

In [24]:
len(df)

100000

In [25]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

In [26]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [27]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 3.36 s, sys: 20.3 ms, total: 3.38 s
Wall time: 6.16 s

1000

In [50]:
from time import time
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000)

while True: 
    try:
        t_start = time()

        # 讀取一個數據塊
        df = next(df_iter)

        # 處理日期格式
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        # 插入數據到資料庫
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False)

        t_end = time()

        print(f'Inserted another chunk, took {t_end - t_start:.3f} seconds')

    except StopIteration as e:
        print(f"All data has been processed. {e}")
        break

Inserted another chunk, took 0.630 seconds
Inserted another chunk, took 0.687 seconds
Inserted another chunk, took 0.639 seconds
Inserted another chunk, took 0.623 seconds
Inserted another chunk, took 0.622 seconds
Inserted another chunk, took 0.668 seconds
Inserted another chunk, took 0.628 seconds
Inserted another chunk, took 0.635 seconds
Inserted another chunk, took 0.791 seconds
Inserted another chunk, took 0.625 seconds
Inserted another chunk, took 0.621 seconds
Inserted another chunk, took 0.652 seconds
Inserted another chunk, took 0.671 seconds
Inserted another chunk, took 0.627 seconds
Inserted another chunk, took 0.620 seconds
Inserted another chunk, took 0.680 seconds
Inserted another chunk, took 0.724 seconds
Inserted another chunk, took 0.631 seconds
Inserted another chunk, took 0.624 seconds
Inserted another chunk, took 0.680 seconds
Inserted another chunk, took 0.646 seconds
Inserted another chunk, took 0.640 seconds
Inserted another chunk, took 0.678 seconds
Inserted another chunk, took 0.621 seconds
Inserted another chunk, took 0.620 seconds
Inserted another chunk, took 0.652 seconds
Inserted another chunk, took 0.674 seconds
Inserted another chunk, took 0.623 seconds
Inserted another chunk, took 0.616 seconds
Inserted another chunk, took 0.687 seconds
Inserted another chunk, took 0.634 seconds
Inserted another chunk, took 0.621 seconds
Inserted another chunk, took 0.636 seconds
Inserted another chunk, took 0.678 seconds
Inserted another chunk, took 0.636 seconds
Inserted another chunk, took 0.629 seconds
Inserted another chunk, took 0.621 seconds
Inserted another chunk, took 0.679 seconds
Inserted another chunk, took 0.617 seconds
Inserted another chunk, took 0.557 seconds
Inserted another chunk, took 0.561 seconds
Inserted another chunk, took 0.600 seconds
Inserted another chunk, took 0.548 seconds
Inserted another chunk, took 0.545 seconds
Inserted another chunk, took 0.620 seconds
Inserted another chunk, took 0.568 seconds
Inserted another chunk, took 0.606 seconds
Inserted another chunk, took 0.359 seconds
All data has been processed.

In [12]:
print(df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [14]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [15]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265